# API
API_HOST=127.0.0.1
API_PORT=8000

# Modelo
MODEL_PATH=models/modelo_lstm.h5
SCALER_PATH=models/scaler.pkl

# Dados
STOCK_SYMBOL=PETR4.SA
DATA_START=2018-01-01
DATA_END=2024-01-01
DATA_PATH=data/raw/data.csv

# Logs
LOG_PATH=logs/api.log
